<!-- 
This file contains the entire code for the HTML workshop for CREATE 2025: SWE
-->
<!DOCTYPE html> <!-- Tells you the document type -->
<html lang="en"> <!-- Tells you the document language -->

    <head>
    <meta charset="UTF-8" /> <!-- The character set for the document, allowing the usage of characters like é -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" /> <!-- Allows scaling based on size of the browser -->
    <link rel="stylesheet" href="styles.css" /> <!-- The stylesheet for the document - ignore for now! -->
    <!-- Below are the font families used, ignore for now. -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Winky Rough">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sorts Mill Goudy">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Literata">
    <!-- The title of the website displayed on the browser tab. -->
    <title>Top 5 NBA Players of all time</title>
    </head>

    <body>
        <h1> Top 5 NBA players of all time</h1>
        <p> This ranking will show what we believe to be the best five NBA players with descriptions, a player ranking, and images. </p>
        
        <section class = "fancy-font">
            <h2>Table of Contents:</h2>
            <ol>
                <li> <a href="#mj"> Michael Jordan</a> </li>
                <li> <a href="#lbj"> LeBron James</a> </li>
                <li> <a href="#kaj"> Kareem Abdul-Jabbar </a> </li>
                <li> <a href="#mjo"> Magic Johnson</a> </li>
                <li> <a href="#kb"> Kobe Bryant</a> </li>
            </ol>
        </section>

        <section>
            <ol>
                <div id = "mj" class = "pad">
                    <h2><li>Michael Jordan</li></h2>
                    <img class="wrap-text" src="https://static01.nyt.com/images/2020/05/16/business/16JORDAN-01sub/16JORDAN-01sub-mediumSquareAt3X.jpg">
                    <p> desc </p>
                    <hr>
                </div>
                
                <div id = "lbj" class = "pad"> 
                    <h2> <li> LeBron James </li> </h2>
                    <img class="wrap-text" src="https://render.fineartamerica.com/images/images-profile-flow/400/images/artworkimages/mediumlarge/2/lebron-james-all-time-scoring-record-andrew-d-bernstein.jpg">
                    <p> desc </p>
                    <hr>
                </div>

                <div id = "kaj" class = "pad"> 
                    <h2> <li> Kareem Adbul-Jabbar </li> </h2>
                    <img class="wrap-text" src="https://hips.hearstapps.com/hmg-prod/images/kareem-abdul-jabbar-of-the-los-angeles-lakers-shoots-a-free-news-photo-1643724792.jpg">
                    <p> desc </p>
                    <hr>
                </div>
                
                <div id = "mjo" class = "pad">
                    <h2><li>Magic Johnson </li></h2>
                    <img class="wrap-text" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQDTEY8Xu_tFbDl0YkHnR52AIRnwSv0fpiB4g&s"> 
                    <p> desc </p>
                    <hr>
                </div>

                <div id = "kb" class = "pad">
                    <h2><li>Kobe Bryant</li></h2>
                    <img class="wrap-text" src="https://cdn.nba.com/teams/legacy/www.nba.com/lakers/sites/lakers/files/getty-images-51790736.jpg">
                    <p> desc </p>
                    <hr>
                </div>            
            </ol>
        </section>

    </body>

</html>